@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    cursor: pointer;
}

.btn {
    border-radius: 100px;
    transition: 0.4s;
    padding: 0.7rem 1.2rem;
    cursor: pointer;
}

/*Header*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(82, 171, 255, 0.9);
    border-bottom: 1px solid #F9FAF8;
    z-index: 999;
}

.containerH {
    height: 4.3rem;
    padding: 0 3rem;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemH1 {
    width: fit-content;
}

.itemH1 img {
    max-height: 4rem;
    width: auto;
}

.itemH2 {
    width: fit-content;
    margin: auto 0;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
.nav-item {
    float: left;
}
  
.nav-item a {
    display: block;
    color: #F9FAF8;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem 0;
    margin: 0 3rem;
    border-bottom: 2px solid transparent;
}

.nav-item a:hover {
    border-bottom: 2px solid #F9FAF8;
}

.itemH3 {
    width: fit-content;
}

.signup-btn {
    border: 2px solid #F9FAF8;
    font-weight: 500;
    display: inline-block;
}

.signup-btn:hover {
    background-color: #F9FAF8;
    color: #52ACFF;
}

/*Main*/

main {
    padding-bottom: 4rem;
}

section {
    margin: 3.5rem auto 3.5rem auto;
    padding: 0 1.5rem;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 3.2rem 0;
}

/*Section 1 - About Us*/

.c1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s1 {
    margin-top: 0rem;
    padding-top: 4.3rem;
    background-color: #52ACFF;
    color: #F9FAF8;
}

.item11 {
   width: 50%;
}

.item11 h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin-bottom: 1.2rem;
}

.item11 p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 75%;
    margin-bottom: 1.8rem;
    text-align: justify;
    text-justify: inter-word;
}

.s1-btn {
    border: 2px solid #1F2937;
    background-color: #F9FAF8;
    color: #1F2937;
    font-size: 1rem;
    font-weight: 500;
}

.s1-btn:hover {
    background-color: #1F2937;
    color: #F9FAF8;
}

.item12 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.item12 img {
    width: 95%;
    height: auto;
    border-radius: 30% 70% 70% 30% / 30% 45% 50% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 45% 50% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 45% 50% 70%;
    box-shadow: 0.625rem 0.625rem 0.8rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0.625rem 0.625rem 0.8rem 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0.625rem 0.625rem 0.8rem 0 rgba(0, 0, 0, 0.5);
}

/*Section 2 - Destinations*/

.container2-heading {
    display: flex;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: 600;
    padding: 0 0 4rem 0;
}

.c2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.square {
    position: relative;
    width: 100%;
}

.square img {
    display: block;
    width: 280px;
    height: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    box-shadow: 0.25rem 0.25rem 0.4rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0.25rem 0.25rem 0.4rem 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadown: 0.25rem 0.25rem 0.4rem 0 rgba(0, 0, 0, 0.5);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    background-color: rgba(82, 172, 255, 0.7);
    border-radius: 50%;
}

.square:hover .overlay {
    opacity: 1;
}

.destination {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*Section 3 - Testimonial*/

.s3 {
    background-color: #52ACFF;
    background-image: linear-gradient(180deg, #52acff 25%, #FFE32C 100%);
}

.quote-wrapper {
    display: flex;
    height: fit-content;
    padding: 0 1.25rem;
}

.quote {
    position: relative;
    font-weight: 500;
    color: #FFFFFF;
    padding: 2rem 0;
    width: 100%;
    max-width: 550px;
    z-index: 1;
    margin: 5rem auto;
    align-self: center;
    border-top: solid 2.5px;
    border-bottom: solid 2.5px;
}

.quote blockquote {
    position: relative;
    color: #FFFFFF;
    font-size: 1.8rem;
    line-height: 1.15;
    margin: 0;
}

.quote::after {
    position: absolute;
    content: "”";
    color: rgba(255, 255, 255, 1);
    font-size: 8.5rem;
    line-height: 0;
    bottom: -34px;
    right: 30px;
}

@media(min-width: 600px) {
    .quote blockquote {
        font-size: 2rem;
    }
}

.quote h4 {
    position: relative;
    color: #292A2B;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    padding-top: 1.25rem;
    z-index: 1;
}

/*Section 4 - Sign Up*/

.c4 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #52ACFF;
    border-radius: 10px;
    width: fit-content;
    padding: 2.5rem 5rem;
    box-shadow: 0.2rem 0.2rem 0.35rem 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0.2rem 0.2rem 0.35rem 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadown: 0.2rem 0.5rem 0.35rem 0 rgba(0, 0, 0, 0.5);
}

.item41 {
    width: 75%;
}

.item41 h4 {
    font-size: 1.2rem;
    line-height: 1.38rem;
    font-weight: 500;
}

.item41 p {
    font-size: 1rem;
    line-height: 1.15rem;
}

.item42 {
    width: 25%;
    display: flex;
    justify-content: center;
}

.item42 button {
    padding: 0.5rem 1.8rem;
    border: 1.5px solid #52ACFF;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
    color: #52ACFF;
}

/*Footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: block;
}

.containerF {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE32C;
}

.itemF {
    color: #292A2B;
    font-size: 1rem;
}